.dark .menu{
    background-color: rgba(255, 255, 255, 0.9);
    color: black;

}
.menu a{
    padding: 0;
    padding-bottom: 1rem;

}
.menu{
    background-color: rgba(6, 6, 14, 0.9);
    color:white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
}

.options{
    display: flex;
    flex-direction: column;
    /* align-items: baseline; */
    justify-content: end;

    height: 100%;
}
