.link{
    color: var(--dark-background);
    font-weight: 800;
    font-size: large;
    cursor: pointer;
}

.link:hover,
.dark .link:hover
{
 color: var(--primary-color);
}

.dark .link{
    color: white;
}
